@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*>* {
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.input-text {
    @apply mt-1 block w-60 px-3 py-2 bg-white border border-slate-300 rounded-full text-sm shadow-sm
}

.input-text:focus {
    @apply outline-none border-sky-500 ring-1 ring-sky-500
}

.loader {
    @apply border-gray-200 rounded-full border-4 ease-linear h-10 w-10;
    border-top-color: blueviolet;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}